.*.sw[op]
logs
bin
configs/cert.pem
configs/key.pem
configs/islb.pid
configs/node.pid
configs/biz.pid
configs/sfu.pid
configs/avp.pid
cmd/biz/biz
cmd/sfu/sfu
cmd/islb/islb
cmd/avp/avp
./ion
.idea
.vscode
node_modules/
cover.out
out

