.*.sw[op]
logs
bin
configs/cert.pem
configs/key.pem
configs/ion.pid
configs/islb.pid
configs/node.pid
sdk/js/node_modules/
sdk/js/nohup.out
sdk/js/package-lock.json
biz.tar.gz
sfu.tar.gz
islb.tar.gz
cmd/ion/ion
cmd/islb/islb
other
./ion
./islb
.idea
