### JetBrains IDE ###
#####################
.idea/

### Emacs Temporary Files ###
#############################
*~

### Folders ###
###############
bin/
vendor/
node_modules/

### Files ###
#############
tags
cover.out
*.sw[poe]
*.wasm
