/* reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
  font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
[hidefocus],
summary {
  outline: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}
sup,
sub {
  font-size: 83%;
}
pre,
code,
kbd,
samp {
  font-family: inherit;
}
q:before,
q:after {
  content: "none";
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}
del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}
body,
textarea,
input,
button,
select,
keygen,
legend {
  font: 12px/1.14 arial, \5b8b\4f53;
  color: #333;
  outline: 0;
}
body {
  background: #fff;
}
a,
a:hover {
  color: #333;
}
* {
  box-sizing: border-box;
}
#root,
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*------------------app--------------------*/
.app-layout {
  height: 100%;
}

.app-header {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.app-header-left {
  margin-left: 8px;
}

.app-logo-img {
  width: 112px;
  height: 28px;
}

.app-header-right {
  margin-right: 8px;
  min-width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.app-header-tool {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.app-header-tool-button {
  color: #dbdbdb;
  cursor: pointer;
}

.app-header-tool-button:hover {
  color: #ffffff;
}

.app-header-tool-hangup {
  color: #e13b3f;
  cursor: pointer;
}

.app-header-tool-hangup:hover {
  color: red;
}

.app-header-tool-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-center-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 540px;
}

.app-login-card {
  height: 320px;
}

.app-footer {
  text-align: center;
}

.app-content-layout {
  width: 100%;
  height: 100%;
}

.app-right-layout {
  position: relative;
  width: 100%;
  height: 100%;
}

.app-collapsed-button {
  position: absolute;
  left: 16px;
  bottom: 16px;
}

.app-fullscreen-button{
  position: absolute;
  right: 16px;
  bottom: 16px;
}

/*------------------login--------------------*/
.login-form {
  min-width: 360px;
}

.login-input-icon {
  color: rgba(0, 0, 0, 0.25);
}

.login-join-button {
  width: 100%;
}


/*------------------conference--------------------*/
.conference-layout {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  padding: 0px;
  background-color: #4a4a4a;
}

.conference-layout-wating {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.conference-local-video-layout {
  position: absolute;
  top: 30px;
  left: 24px;
}

.conference-local-screen-layout {
  position: absolute;
  top: 30px;
  right: 24px;
}

/*------------------local-video--------------------*/
.local-video-name {
  position: absolute;
  left: 8px;
  top: 8px;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.local-video-container {
  width: 220px;
  height: 140px;
  z-index: 99;
  overflow: hidden;
  border-width: 0.5px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 2px;
}

.local-video-size {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: rgb(0, 21, 42);
}

.local-video-icon-layout{
  position: absolute;
  top: 8px;
  right: 8px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.local-video-min-layout{
  position: absolute;
  top: 8px;
  left: 8px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.local-video-avatar{
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------------------main-video--------------------*/
.main-video-layout {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.main-video-size {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-video-name{
  position: absolute;
  left: 0px;
  right: 0px;
  top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-video-name-a {
  font-size: large;
  color: #dbdbdb;
}

/*------------------small-video--------------------*/
.small-video-list-div{
  position: absolute;
  left: 100px;
  right: 100px;
  bottom: 30px;
  height: 140px;
  overflow-y: hidden;
  overflow-x: auto;
}


.small-video-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.small-video-div{
  display: flex;
  width: 220px;
  height: 140px;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  background-color:#323232;
  border-radius: 2px;
  margin-right: 1px;
  margin-left: 1px;
}

.small-video-size {
  width: 218px;
  height: 138px;
  object-fit: cover;
}

.small-video-id-div {
  position: absolute;
  width: 218px;
}

.small-video-id-a{
  position: absolute;
  left: 8px;
  top: 8px;
  right: 8px;
  font-size: larger;
  color: #dbdbdb;
}



/*------------------media-seetings--------------------*/
.settings-item{
  display:flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.settings-item-left{
  width:80px;
  text-align: right;
  color:rgba(0, 0, 0, 0.65);
  line-height: 32px;
  font-size: 14px;
  font-weight: normal;
}

.settings-item-right{
  flex:1;
  padding-left: 20px;
  padding-right: 20px;
}

.settings-video-container{
  width:240px;
  height:180px;
  background-color: #000000;
  margin-top: 20px;
}

/*---------------chat-styles--------------------*/

.left-container{
  width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-chat{
  font-size: 16px;
  color: #fff;
  margin-left: 10px;
}

.chat-input{
  display:flex;
  flex-direction:row;
  width:320px;
  padding: 10px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #ddd;
  padding-bottom:20px;
}

.bubble-left{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  margin-bottom:16px;
  margin-left:5px;
}

.bubble-right{
  display:flex;
  flex-direction:row;
  justify-content: flex-end;
  margin-bottom:16px;
  margin-right:16px;
}

.bubble-middle{
  display:flex;
  flex-direction:row;
  justify-content: center;
  margin-bottom:16px;
  margin-right:5px;
}

.bubble-head{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #fff;
}

.bubble-head i{
  font-size: 24px;
  color: #909090;
}

.sender-name{
  color: #fff;
}

.bubble-msg{
  padding: 0px 10px;
}

.bubble-msgword{
  background-color:#fff;
  display: inline-block;
  margin-top:6px;
  padding-top:8px;
  padding-bottom:8px;
  padding-left:10px;
  padding-right:10px;
  border-radius:4px;
}

.bubble-msgword-middle{
  background-color:#fafafa;
  display: inline-block;
  margin-top:6px;
  padding-top:8px;
  padding-bottom:8px;
  padding-left:10px;
  padding-right:10px;
  border-radius:4px;
}

.pl{
  color: #262626;
  font-size: 14px;
  font-weight: 300;
  margin: 0px;
  text-align:left;
  word-break:break-all;
}

.pr{
  color: #262626;
  font-size: 14px;
  font-weight: 300;
  margin: 0px;
  text-align:right;
  word-break:break-all;
}

.pm{
  color: #8c8c8c;
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  margin: 0px;
  text-align: center;
  word-break:break-all;
}

.chat-panel{
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  background-color:#4e4c4c;
}

.title-panel{
  display: flex;
  height: 36px;
  background-color: #4e4c4c;
  padding-top: 4px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ddd;
}

.chat-history{
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
}

.chatbubble-wrapper{
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: auto;
  position: relative;
}